services:
  mongo:
    image: mongo:8.0
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: AzoogheDB
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: azooghe-back
    restart: unless-stopped
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    command: sh -c "sleep 5 && node dist/src/main.js"  # Wait 5s for MongoDB to start

volumes:
  mongo_data:
